body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    margin: 0 ;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 35px;
    box-shadow: 100px 100px 100px rgba(0, 0, 0, 0.48);
}

h1 {
    text-align: center;
    color: #308469;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

input, select {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 30px;
    background-color: #16c816;
    color: #fff;
    border: rgb(13, 2, 2);
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 400px;
    margin-top: 50px;
}

button:hover {
    background-color: #45a049;
}



#date2{
margin-top: 50px;
}